/* ---- Fonts ---- */

@font-face {
  font-family: "BigNoodleTitling";
  src: url("fonts/bignoodletitling/big_noodle_titling_oblique.ttf");
}

/* ---- Global Styles ---- */

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  background-color: #1B2845;
}

p {
  line-height: 1.4;
  text-align: left;
}
/* ---- Nav Styles ---- */

nav {
  background-image: linear-gradient(to bottom, rgba(51, 92, 129, 0.7), rgba(51, 92, 129, 0.7)),
                    url("imgs/Overwatch%20Banner.jpg");
  background-size: cover;
  width: 100%;
  padding: 1em;
  position: relative;
  margin-bottom: 1%;
  font-family: "BigNoodleTitling";
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav li {
  list-style-type: none;
  margin: 5%;
}

.nav-link {
  text-decoration: none;
  background-color: #65AFFF;
  padding: 10px 20px;
  color: #000;
  border-radius: 5px;
  transition: all 0.5s;
}

.nav-link:hover {
  color: #fff;
}

.scrollToTop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: url("imgs/arrow.svg");
  background-size: cover;
  text-decoration: none;
  width: 40px;
  height: 40px;
}

/* ---- Header styles ---- */

h1 {
  text-align: center;
  font-family: "BigNoodleTitling";
}

#top-title {
  color: #65afff;
  font-size: 2.5em;
}

/* ---- Main styles ---- */

main {
  max-width: 70%;
  margin: 0 auto;
}

section {
  padding-bottom: 5%;
}

h2,
h3 {
  font-family: "BigNoodleTitling";
}

/* ---- Home Styles ---- */

#home {
  background-color: rgba(101, 175, 255,0.7);
  padding: 1em;
  margin-bottom: 2em;
}

.what,
.who {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}


/* ---- Hero Styles ---- */

#heroes {
  background-color: rgba(101, 175, 255,0.7);
  padding: 1em;
}

.hero-title {
  margin-top: 0;
  margin-left: 1%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.hero-section {
  padding: 0;
  transition: all 0.3s;
}

.heroes-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 150px;
  left: 25px;
  min-width: 100px;
}

.heroes-nav > a {
  text-decoration: none;
  color: #000;
}

.hero-section:hover {
  color: #fff;
  transform: scale(1.04);
}

#ana {
  background-color: #6385C4;
}

#bastion {
  background-color: #6C7B65;
}

#dva {
  background-color: #F28EC2;
}

#doomfist {
  background-color: #A78B78;
}

#genji {
  background-color: #91DD31;
}

#hanzo {
  background-color: #C3B478;
}

#junkrat {
  background-color: #EEBA44;
}

#lucio {
  background-color: #82C746;
}

#mccree {
  background-color: #B83637;
}

#mei {
  background-color: #6AA7EA;
}

#mercy {
  background-color: #F1E7AB;
}

#orisa {
  background-color: #3E7B38;
}

#pharah {
  background-color: #3675C2;
}

#reaper {
  background-color: #7D1B2E;
}

#reinhardt {
  background-color: #9296A1;
}

#roadhog {
  background-color: #B78645;
}

#soldier {
  background-color: #67708C;
}

#sombra {
  background-color: #653FA6;
}

#symmetra {
  background-color: #8DBBCA;
}

#torbjorn {
  background-color: #C87165;
}

#tracer {
  background-color: #E67D00;
}

#widowmaker {
  background-color: #9F4DA5;
}

#winston {
  background-color: #999CB7;
}

#zarya {
  background-color: #FE7CCD;
}

#zenyatta {
  background-color: #F1E879;
}

.hero-info {
  margin: 35px auto;
  padding: 1em;
  text-align: center;
  width: 90%;
  background-color: #1B2845;
  color: #fff;
}

img {
  border-radius: 50%;
}

h2 + img {
  border: 2px solid #65afff;
}

h3 ~ img {
  border: 2px solid #d9534f;
}

/* ---- Media Queries ---- */

@media (min-width: 420px) {

  nav ul {
    flex-direction: row;
    align-items: flex-start;
  }

  nav li {
    margin: 1%;
  }
}
